@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET MVC LAB4</h1>
    <p class="lead"></p>
    <p><a href="/user/register" class="btn btn-primary btn-lg">Register Now &raquo;</a></p>
</div>
