


    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">@ViewBag.nw.NewTitle</h4>
    </div>
    <div class="modal-body " id="d1">
        <img src="~/Attachments/@ViewBag.nw.NewPhoto" width="100%" class="text-center"/>
        <br />
        <br />
        <p>@ViewBag.nw.NewDesc</p>

    </div>
    <div class="modal-footer">
        <p style="float:left">Posted at @ViewBag.nw.DateTime </p>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>

